<div style="margin: 10px">
<h3>Find the nearest airports:</h3><br>
<%= bootstrap_form_for :options do |t| %>
<%= hidden_field_tag :user_id, User.all.first.id %>
<%= hidden_field_tag :id, Trip.all.last.id %>
<%= t.text_field :origin_address, label: "Departing Address:"%>
<%= t.select :origin_radius,  [["5 miles", 5],["20 miles", 20],["50 miles", 50],["100 miles", 100],["150 miles", 150], ["200 miles", 200],["250 miles", 250],["300 miles", 300]], label: "Origin Radius", class: "selectpicker", style:"margin-right:10px", prompt:true %>
<%= t.select :ground_mode,  [["Driving", "driving"],["Public Transit", "transit"], ["Public Transit and Train", "rail"]], label: "Mode of Ground Transportation:", class: "selectpicker", style:"margin-right:10px", prompt:true %>
<%= t.text_field :destination, label: "Destination Airport Code:"%>
<%= t.text_field :departure_date, label: "Departure Date YYYY-MM-DD:"%>
<%= t.select :travel_class,  [["All", ""],["Economy", "ECONOMY"],["Premium Economy", "PREMIUM_ECONOMY"],["Business", "BUSINESS"],["First", "FIRST"]], hide_label: true, class: "selectpicker", style:"margin-right:10px", prompt: "Select Travel Class" %>
<%= t.check_box :nonstop, label: "Nonstop", style:"margin-left:20px"%>
<%= t.submit "Submit", class: "btn btn-outline-success" %>
<% end %>
</div>
