<h2><strong><%= @trip.name %> Trip</strong> </h2>
<div class="container">
<p><strong>Duration:</strong> <%= @trip.duration %></p>
<p><strong>Price:</strong>$<%= @trip.price %></p>
<p><strong>Traveler:</strong> <%= @trip.user.name %></p>
<p><strong>Description:</strong> <%= @trip.description %></p>
<p><strong>Flights:</strong> <%= @trip.flights.first.origin %></p>
<p><strong>Flights:</strong> <%= @trip.flights.first.destination %></p>
</div>
<div class="container">
<p><strong>Ground Transportation:</strong></p>
<ul style="list-style: none;">
<% @trip.grounds[0].directions.each_with_index do |direction, i|%>
<li style="text-indent: 20px"><%= "#{i+1}. "%> <%="#{direction}".html_safe%></li>
<% end %>
</ul>
</div>
