<br>
<h2 style="margin-left: 15px">Flight Options</h2><br>
<div class="container-fluid">
 <table class="table table-striped">
 <thead class="thead-light">
   <tr>
     <td><strong>Origin</strong></td>
     <td><strong>Destination</strong></td>
     <td><strong>Departure Date</strong></td>
     <td><strong>Departure Time</strong></td>
     <td><strong>Arrival Time</strong></td>
     <td><strong>Duration</strong></td>
     <td><strong>Price</strong></td>
     <td><strong>Travel Class</strong></td>
     <td><strong>Nonstop</strong></td>
     <td><strong>Carrier</strong></td>
     <td><strong>Flight Number</strong></td>
   </tr>
 </thead>
   <% @flights_list.sort_by {|flight| -flight.price}.each do |flight| %>
   <tr>
     <td><%= flight.origin %></td>
     <td><%= flight.destination %></td>
     <td><%= flight.departure_date.strftime("%b %d, %Y") %></td>
     <td><%= flight.departure_time.strftime("%I:%M %p") %></td>
     <td><%= flight.arrival_time.strftime("%I:%M %p") %></td>
     <td><%= flight.duration %></td>
     <td>$<%= flight.price %></td>
     <td><%= flight.travel_class %></td>
     <td><%= flight.nonstop %></td>
     <td><%= flight.carrier %></td>
     <td><%= flight.flight_number %></td>
   </tr>
   <% end %>
 </table>
</div>
