<head>
  <style>
    body {
      background-image: url(<%= asset_path 'train.jpg' %>);
      background-position: top;
      background-size: cover;
    }

    h3 {  margin-top: 15px;
      text-align: center;}

      .col-md-8  {background-color: #4f772f;
        padding: 20px 10px 5px 60px;
        border-radius: 15px;
        opacity: 0.85;
      }
      div{
        text-align:center;
      }
      label {margin-right: 3rem;}

      .btn-outline-dark {margin-right: 3rem;}
    </style>
  </head>

  <div class="container">
    <div class="row ">
      <div class="col-md-8 offset-md-2">
        <%= bootstrap_form_for(new_object, layout: :horizontal) do |t| %>
        <strong><%=   t.label :origin,"Departing Address" %></strong>
        <%= t.text_field :origin, hide_label: true, value: session[:origin], required: true %>
        <strong><%=   t.label :destination,"Airport IATA Code" %></strong>
        <%= t.text_field :destination, value: session[:destination] ,hide_label: true, required: true %>
        <strong><%=   t.label :mode, "Mode of Ground Transportation" %></strong>
        <%= t.select :mode,  [["Driving", "driving"],["Public Transit", "transit"], ["Public Transit and Train", "rail"]], {hide_label: true, class: "selectpicker", style:"margin-right:10px", prompt:true}, required: true %>
        <%= t.submit "Submit", class: "btn btn-outline-dark" %>
        <% end %>
        <%= button_to "Skip to Trip Details", trip_path(current_trip), method: :get, class: "btn btn-outline-dark"%>

      </div>
    </div>
  </div>
