<head>
  <style>
    .col-md-6  {background-color: #e57e1d;
      padding: 5px 10px 5px 25px;
      border-radius: 15px;
      opacity: 0.85;
    }

    body {
      background-image: url(<%= asset_path 'paris.jpg' %>);
      background-size: cover;
      background-attachment: fixed;
    }

    .form-control {background-color:#efeeed;
      border-radius:10px;
      width: 107%;}

      div{
        margin-top: 10px;
        text-align:center;
      }
    </style>
  </head>
  <div class="container">
    <div class="row ">
      <div class="col-md-6 offset-md-3">
        <%= bootstrap_form_for(new_object, layout: :horizontal) do |f| %>
        <%=   f.label :name, "<strong>Trip Name</strong>".html_safe %>
        <%= f.text_field :name, hide_label: true, required: true%>

        <%=   f.label :description, "<strong>Description</strong>".html_safe %>
        <%= f.text_area :description, hide_label: true, required: true %><br>

        <%= f.submit "Submit", class: "btn btn-outline-primary" %>
        <% end %>

      </div>
    </div>
