<div style="margin: 10px">
<h3>Get Directions to an Airport</h3>
<%= bootstrap_form_for @ground do |t| %>
<%= t.text_field :origin, label: "Departing Address:"%>
<%= t.select :destination, @ground.airports %>
<%= t.select :mode,  [["Driving", "driving"],["Public Transit", "transit"], ["Public Transit and Train", "rail"]], label: "Mode of Ground Transportation:", class: "selectpicker", style:"margin-right:10px", prompt:true %>
<%= t.submit "Submit", class: "btn btn-outline-success" %>
<% end %>
</div>
