<div style="margin: 10px">
<h3>Get Directions to an Airport</h3><br>
<%= bootstrap_form_for(@ground, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |t| %>
<strong><%= t.text_field :origin, label: "Departing Address:", value: session[:origin], required: true %></strong>
<strong><%= t.text_field :destination, value: session[:destination] ,label: "Airport:", required: true %></strong>
<strong><%= t.select :mode,  [["Driving", "driving"],["Public Transit", "transit"], ["Public Transit and Train", "rail"]], {label: "Mode of Ground Transportation:", class: "selectpicker", style:"margin-right:10px", prompt:true}, required: true %></strong>
<%= t.submit "Submit", class: "btn btn-outline-success" %>
<% end %>
</div>
