<br>
<div style="margin-left:10px">
  <h2>Your Ground Transportation</h2><br>
  <div class="d-flex justify-content-center"">
    <p><strong>Departing Location:</strong> <%= @ground.origin%></p>
    <p><strong>Destination:</strong> <%= @ground.destination%></p>
    <p><strong>Duration:</strong> <%= @ground.duration%></p>
    <p><strong>Mode of Transportation:</strong> <%= @ground.mode.capitalize%></p><br>

  </div>
  <h3>Directions</h3>
  <% @ground.directions.each_with_index do |direction, i|%>
  <p><%= "#{i+1}. "%> <%="#{direction}".html_safe%></p>
  <% end %>
  <%= button_to "View Trip Details", trip_path(@ground.trip_id), method: :get, class: "btn btn-outline-info"%>
</div>
</div>
