  <head>
  <style>
    .nav-item {width: auto;}
  </style>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Trip Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= button_to "Plan Trip", new_trip_path, method: :get,  class: "btn btn-outline-light"  %>
        </li>
        <li class="nav-item">
          <%= button_to "Flights", search_path, method: :get,  class: "btn btn-outline-light"  %>

        </li>
        <li class="nav-item">
          <%= button_to "Transportation", new_ground_path, method: :get,  class: "btn btn-outline-light"  %>

        </li>
        <li class="nav-item">
          <%= button_to "Airports", airports_trips_path, method: :get,  class: "btn btn-outline-light"  %>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to image_tag("cart.png", alt: "cart"), '/flights', class: "navbar-brand", id: "cart"%>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link active dropdown-toggle" data-toggle="dropdown">
          <b class="caret">Account</b>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item"><%= link_to "Profile", current_user %></li>
          <li class="nav-item divider"></li>
          <li class="nav-item">
            <%= link_to "Log Out", logout_path, method: :delete %>
          </li>
        </ul>
      </li>

      <% else %>
      <li class="nav-item active"><%= link_to "Sign Up", signup_path, class: "nav-link" %></li>
      <li class="nav-item active"><%= link_to "Log in", login_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </nav>


</header>
