<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TripPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
  <script>
      AirportInput("autocomplete-airport-1");
      // Example options for Formatting
      var options = {
          formatting: `<div class="$(unique-result)"
                       single-result"
                       data-index="$(i)">
                     $(IATA) </div>`
      };
      AirportInput("autocomplete-airport-2", options);
      var options = {
          formatting: `<div class="$(unique-result)"
                       single-result"
                       data-index="$(i)">
                     $(IATA) </div>`
      };
  </script>
</html>
